body{
	background-color: #191e21;
	color: #566366;
	font-family:arial;

}

.center{
	width: 1200px;
	margin: 0 auto;
	overflow: auto;
}
/*<!-- Start_Hero -->*/
.div_hero{
	background: url(../img/first_imagec.jpg),repeat,center center;
	background-size: cover;
	padding: 15% 0;
}
.div_hero h1{
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	display: table;
	margin: 0 auto;
	font-size: 60px;
	
}
.div_hero a{
	color: white;
	border: 1px solid white;
	margin: 20px auto;
	display: table;
	padding: 15px 20px;
	text-decoration: none;
	font-size: 18px;
	
}
/*<!-- End_Hero -->*/


/*Start_Nav*/

.div_nav{
	background-color: #252f31;
	height: 70px;
	width: 100%;
}
.div_nav img{
	float: left;
}
.div_nav ul{
	float: right;
	margin: 0;
	padding: 0;
}
.div_nav ul li{
	float: left;
	list-style: none;
	margin-top: 30px;
}
.div_nav ul li a{
	color: #fff;
	padding:0 10px;
	text-decoration: none;
	text-align: center;
}
/*End_Nav*/

/*Start_info*/
.div_info{
	background-color: #fff;
	padding-bottom: 100px;
	padding-top: 100px;
	
}
.div_info .panel{
	width: 380px;
	float: left;
	padding: 10px ;
	text-align: justify-all;

}
.div_info .panel first-child{
	margin-right: 60px;
	
}
.div_info .panel last-child{
	margin-left: 60px;

}

.div_info .panel p{
	line-height: 1.5em;
	font-size: 16px;
	color: #919193;
	
}
.div_info .panel h2{
	font-size: 30px;
}
/*End_info*/

/*Start_About*/

.div_about{
	width: 100%;
	min-height: 200px;
	background-color: #f2f2f2;

}
.div_image{
	background-image: url(../img/second_imageb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	width: 38%;
	height: 623px;
}
.about_me{
	width: 56%;
	float: left;
	padding-left: 6%;
}
.web{
	width: 28%;
	float: left;
	padding-left: 6%;
}
.web .img1{
	float: left;
	margin-top: 20px;
	padding-right: 5px;
}
.graphic{
	width: 28%;
	float: right;
}
.online{
	width: 28%;
	float: left;
	padding-left: 6%;
}
.seo{
	width: 28%;
	float: right;
}	
/*End_About*/

/*Start my_skills*/
.my_skills{
	background-color: #fff;

}
.skills{
	width: 50%;
	float: left;
	margin-top: 99px;
}
.skills h2{
	font-size: 30px;
}
.skills p{
	font-size: 16px;
	line-height: 1.5em;
}
.skills a{
	color: #33cb74;
	border: 2px solid #33cb74;
	margin: 47px 0;
	display: table;
	padding: 15px 20px;
	text-decoration: none;
	font-size: 18px;
}
/*.panel3{
	width: 40%;
	float: left;
	margin-top: 137px;
	padding-left: 98px;
}*/
.photoshop{
	
	width: 40%;
	float: left;
	margin-top: 137px;
	padding-left: 98px;
}
.photoshop h3{
	margin-top: 15px;
}
.ps{
	background-color:#f2f2f2;
	width:108%;
	min-height: 31px;
	margin-bottom: 15px;
}
.ps .ps_in{
	width: 90%;
	min-height: 31px;
	background-color:#33cb74;
}
.ps .ps_in h3{
	padding-left: 90%;
	text-align:center;
	padding-top: 5px;
}

.il{
	background-color:#f2f2f2;
	width:108%;
	min-height: 31px;
	
}
.il .il_in{
	width: 80%;
	min-height: 31px;
	background-color:#33cb74;
}
.il .il_in h3{
	padding-left: 80%;
	text-align:center;
	padding-top: 5px;

}
.hs{
	background-color:#f2f2f2;
	width:108%;
	min-height: 31px;
	
}
.hs .hs_in{
	width: 90%;
	min-height: 31px;
	background-color:#33cb74;
}
.hs .hs_in h3{
	padding-left: 90%;
	text-align:center;
	padding-top: 5px;

}
.pd{
	background-color:#f2f2f2;
	width:108%;
	min-height: 31px;
	
}
.pd .pd_in{
	width: 80%;
	min-height: 31px;
	background-color:#33cb74;
}
.pd .pd_in h3{
	padding-left: 80%;
	text-align:center;
	padding-top: 5px;

}
/*End my_skills*/


















