
body{
	 background-color:violet;
}


h1{
   border-style: solid;
   border-width: 20px;
   background-color: blue;
   padding: 20px;
   text-align: right;
}

p{
  font-family: verdana;	
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  border-style: dotted dashed solid double;

}

