
body{
	 background-color:rgb(225,0,25);
}




h1{
   border-style: solid;
   border-width: 20px;
   background-color: white;
   padding: 20px;
   text-align: left;
}

p{
  font-family: verdana;	
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  border-style: dotted dashed solid double;
}

.cities {
  background-color: blue;
  color: white;
  margin: 20px;
  padding: 20px;
} 